body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: #1a1a2e;
    color: white;
}

#pomodoro {
    text-align: center;
    transform: scale(0.8);
}

#pomodoro .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#pomodoro .buttons button {
    margin: 0 5px;
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.3);
    color: black;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 0 2px 1px black;
}

#pomodoro .buttons button.active {
    background: white;
    color: #1a1a2e;
    box-shadow: 0 0 2px 1px black;
}

#timer {
    font-size: 6em;
    margin: 20px 0;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.pomodoro-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pomodoro-controls .icon-button {
    margin: 0 5px;
    padding: 0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: white;
    color: #1a1a2e;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px 1px black;
}

.pomodoro-controls .start-button {
    margin: 0 5px;
    padding: 5px 30px;
    border: none;
    border-radius: 25px;
    background: white;
    color: #1a1a2e;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 0 2px 1px black;
}

#open-settings {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    background: white;
    color: #1a1a2e;
    cursor: pointer;
    box-shadow: 0 0 2px 1px black;
}

#settings {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: white;
    color: #1a1a2e;
}

#settings label {
    display: block;
    margin: 10px 0;
}

#settings input {
    width: 50px;
    padding: 5px;
    border: 1px solid #1a1a2e;
    border-radius: 5px;
}

#settings button {
    margin-top: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
    background: #1a1a2e;
    color: white;
    cursor: pointer;
    font-size: 1em;
}
